<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.project.chat.user.UserVO" alias="userVO"></typeAlias>
		<typeAlias type="com.project.chat.chatting.ChatRoomDTO" alias="chatRoomDTO"></typeAlias>
		<typeAlias type="com.project.chat.chatting.ChatContentDTO" alias="chatContentDTO"></typeAlias>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mappings/user-mapping.xml" />
		<mapper resource="mappings/friend-mapping.xml" />
		<mapper resource="mappings/chat-mapping.xml" />
	</mappers>
</configuration>
